.kenaryamult{
    width: 28px !important;
    border-radius: 10px !important;
    
}
.kenaryamultLogin{
    width: 150px !important;
    border-radius: 20px !important;
    height: 150px;
}
.borderYamultma{
    width: 150px !important;
    border-radius: 20px !important;
    height: 150px;
}
#footerLink{
font: black !important; color: black!important;
}
body{
    background-color: #ecf0f5;
}
#mainYazi{
    
    font-size: x-large;
}
#gizliButon{
  visibility: hidden;
}
.yazilar{
    
    font-size: x-large;
}
.gizliButon2{
    visibility:
     hidden;
  }
  .trans--grow{
  -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1s  ease-out;
  width : 0%;
}
.grow{
  width:100%;
}
.hr1{
  margin-left:0;
}
.hr2{
  margin-right:0;
}
hr{
  margin-top: 20px;
  padding: 2px 0;
  border: none;
  background-color: rgb(61, 141, 245);
  letter-spacing: 5px;
}

/*Author*/
footer{
  position:absolute;
  bottom:0;
}

h1{
  font-size:1.2rem;
  text-align: center;
  color:#39d1b4;
}
h1 a{
  font-weight:300;
  color:#39d1b4;
  text-decoration:none;
}

h1 a:hover{
  font-weight:300;
  color:#2d9884;
  text-decoration:none;
}
.Baslik{
  font: 50px black bold;
  margin-top: 3%;
  
}
.Ortala{
  text-align: center;
}
#NavUl{
  float:left;
}
.KucukBasliklar{
  color: rgb(7, 172, 7);
  font: 30px green bold;
  margin-top:10%;
  margin-bottom: 3%;
  font-weight: bold;
  font-style:normal;
}
.icerikTipi{
  color: rgb(60, 131, 60);
  font: 20px  bold;
  font-weight: lighter;
  font-family:serif;
  font-style: italic;
}
.carausel{
  background-image: url("../images/slayt.jpg");
  background-size: 100% 100%;
}
.kucukGuzelBaslik{
  font: 25px bold;
  color:rgb(6, 108, 6);
  margin-top: 15%;
  
  
}
.telNo{
  font-size: 60px;
  font-weight:bold;
  color:rgb(2, 35, 2);
}
.footer{
  margin-top: 5%;
  width: 100%;
  background-color: black;
  height: 100%;
}
